@import "@/styles/apx.scss";

.status {

  display: flex;
  align-items: center;
  gap: $apx-8;
  padding: $apx-4 $apx-8;
  border-radius: $apx-28;
  height: fit-content;
  white-space: nowrap;

  &__blue {

    background-color: var(--color-accent-blue-200);
    color: var(--color-accent-blue-700);

  }

  &__yellow {

    background-color: var(--color-notice-info-100);
    color: var(--color-notice-info-500);

  }
  
  &__red {

    background-color: var(--color-notice-error-100);
    color: var(--color-notice-error-500);

  }

  &__green {
    
    background-color: var(--color-notice-success-100);
    color: var(--color-notice-success-500);

  }

  &__name {

    font-size: $apx-13;
    font-weight: 600;
    line-height: $apx-17;

  }

}