@import "@/styles/apx.scss";

.services {

  &__children {
    
    padding: $apx-96 $apx-32 $apx-32 $apx-32;
    margin-top: -$apx-86;
    border-radius: $apx-32;
    display: flex;
    gap: $apx-16;
    border: 1px solid #F4F6F9;

    &__left {

      width: $apx-220;
      min-width: $apx-220;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__button {

        display: flex;
        gap: $apx-8;
        
      }

    }

    &__right {

      display: flex;
      flex-direction: column;
      gap: $apx-32;
      width: 100%;

    }

  }

}
  