@import "@/styles/apx.scss";

.accordion {

  &__parent {
    
    background-color: var(--color-bw-white);
    border-radius: $apx-32;
    padding: $apx-32;
    box-shadow: 0px $apx-4 $apx-16 0px #15009D0D;
    display: flex;
    justify-content: space-between;
    gap: $apx-8;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: $apx-150;

    &__wrapper {

      display: flex;
      flex-direction: column;
      gap: $apx-8;

      &__title {

        font-size: $apx-26;
        font-weight: 700;
        line-height: $apx-34;
        color: var(--color-accent-blue-700);

      }

      &__description {

        font-size: $apx-16;
        font-weight: 500;
        line-height: $apx-21;
        color: var(--color-accent-black-900);
        max-width: $apx-700;

      }

    }

    &__buttons {

      display: flex;
      align-items: center;
      gap: $apx-8;

      &__delete {

        background: transparent;
        padding: $apx-4;

        p {

          color: var(--color-accent-black-500);
          font-size: $apx-14;
          font-weight: 600;
          line-height: $apx-16;
        }

        &:hover,
        &:focus {
        
          animation: none;

          p {

            color: var(--color-accent-blue-700);  

          }
        
        }

        &:active {

          p { opacity: 0.8; }

        }

      }

      &__arrow {

        transform: rotate(-90deg);
        background: transparent;
        height: $apx-32;
        width: $apx-32;
        padding: 0;
        transition: transform 0.3s ease;

        &:hover,
        &:focus {
        
          animation: none;
        
        }
        
      }

      &__rotated {

        transform: rotate(90deg);

      }

    }

  }  

  &__children {

    background-color: var(--color-bw-white);
    padding: $apx-172 $apx-32 $apx-32 $apx-32;
    margin-top: -$apx-148;
    border-radius: $apx-32;
    display: flex;
    flex-direction: column;
    gap: $apx-32;

    &__title {

      font-weight: 700;
      color: var(--color-accent-blue-700);
      font-size: $apx-20;
      line-height: $apx-26;

    }

    &__services {

      margin-top: $apx-12;
      display: flex;
      flex-direction: column;
      gap: $apx-12;

      &__button {

        display: flex;
        gap: 8px;

        p {

          font-size: $apx-14;
          font-weight: 600;
          line-height: $apx-15;

        }

      }

    }

  }

}
  