@import "@/styles/apx.scss";

.document {

  &__children {
    
    padding: $apx-96 $apx-32 $apx-32 $apx-32;
    margin-top: -$apx-86;
    border-radius: $apx-32;
    display: flex;
    gap: $apx-16;
    flex-direction: column;
    border: 1px solid #F4F6F9;

  }

}
  