@import "@/styles/apx.scss";

.textfield {

  width: 100%;

  & + .textfield { margin-top: $apx-16; }

  .title {

    margin-bottom: $apx-8;

  }

  .error {

    margin-top: $apx-8;
    color: var(--color-notice-error-500);

  }

  input {

    width: 100%;
    outline: unset;
    text-overflow: ellipsis;
    padding: $apx-16;
    font-weight: 500;
    font-size: $apx-16;
    line-height: $apx-21;
    color: var(--color-accent-black-500);
    background: var(--color-accent-background);
    border: $apx-1 solid var(--color-accent-blue-200);
    border-radius: $apx-28;

    &::placeholder {
    
      font-weight: 400;
      font-size: $apx-16;
      line-height: $apx-21;
    
    }

  }

}