@import "@/styles/apx.scss";

.textfield {

  position: relative;

  width: 100%;

  .title {

    margin-bottom: $apx-8;

  }

  .error {

    margin-top: $apx-8;
    color: var(--color-notice-error-500);

  }

  &.filled input {

    background-color: var(--color-bw-white);

  }

  input {

    width: 100%;
    height: 100%;
    outline: unset;
    text-overflow: ellipsis;
    padding: $apx-16;
    font-weight: 500;
    font-size: $apx-16;
    line-height: $apx-21;
    color: var(--color-accent-black-500);
    background: var(--color-accent-background);
    border: $apx-1 solid var(--color-accent-blue-200);
    border-radius: $apx-28;

    &::placeholder {

      font-weight: 400;
      font-size: $apx-16;
      line-height: $apx-21;

    }

  }

  &__eye {

    position: absolute;
    top: $apx-17;
    right: $apx-20;

    cursor: pointer;

  }

  &__controls {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: $apx-20;
    position: absolute;
    right: $apx-10;
    top: $apx-8;

    &__cross {

      cursor: pointer;

    }

    &__save {

      width: $apx-40;
      height: $apx-36;
      border-radius: $apx-40;
      padding: $apx-8 $apx-12;
      background-color: var(--color-accent-blue-700);

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    }

  }

}