@import "@/styles/apx.scss";

.textfield {

  position: relative;

  width: 100%;
  height: $apx-63;

  .title {

    margin-bottom: $apx-8;

  }

  &__error {

    input {

      border-color: var(--color-notice-error-500) !important;

    }

    &__text {

      color: var(--color-notice-error-500);
      font-weight: 600;
      font-size: $apx-13;

    }

  }

  &.filled input {

    background-color: var(--color-bw-white);
    color: var(--color-accent-black-900);
  }

  &.filled .placeholderLabel {

    top: -$apx-12;
    left: $apx-12;
    font-weight: 600;
    font-size: $apx-13;
    color: var(--color-accent-black-500);
    opacity: 1;

  }

  input {

    width: 100%;
    height: 100%;
    outline: unset;
    text-overflow: ellipsis;
    padding: $apx-16 $apx-16 0 $apx-16;
    font-weight: 500;
    font-size: $apx-16;
    line-height: $apx-21;
    color: var(--color-accent-black-500);
    background: var(--color-accent-background);
    border: $apx-1 solid var(--color-accent-blue-200);
    border-radius: $apx-28;
    position: relative;


    &:focus + .placeholderLabel,
    &:not(:placeholder-shown) + .placeholderLabel {

      top: $apx-10;
      left: $apx-16;
      font-weight: 600;
      font-size: $apx-13;
      color: var(--color-accent-black-500);
      opacity: 1;

    }

    &.hasicon {

      position: relative;
      padding-left: $apx-68;

    }

  }

  &__icon {

    position: absolute;
    z-index: 1;
    top: 50%;
    left: $apx-16;
    transform: translateY(-50%);
    background-color: var(--color-accent-blue-230);
    width: $apx-40;
    height: $apx-40;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $apx-40;

    cursor: pointer;

    &:hover {

      svg path {

        fill: var(--color-accent-blue-700)

      }

    }

    svg {

      $size: $apx-16;
      width: $size;
      height: $size;

    }

  }

  &__eye {

    position: absolute;
    top: $apx-22;
    right: $apx-20;

    cursor: pointer;

  }

    &__cross {

      cursor: pointer;

    }

    &__save {

      width: $apx-40;
      height: $apx-36;
      border-radius: $apx-40;
      padding: $apx-8 $apx-12;
      background-color: var(--color-accent-blue-700);

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    }

}

.placeholderLabel {

  position: absolute;
  top: $apx-21;
  left: $apx-16;
  font-weight: 500;
  font-size: $apx-16;
  color: var(--color-accent-black-500);
  pointer-events: none;
  transition: all 0.2s ease;
  opacity: 0.5;

  &.hasicon {

    white-space: pre-line;
    top: $apx-12;
    position: absolute;
    padding-right: $apx-12;  
    padding-left: $apx-52;
    font-size: $apx-16;

  }

}