@import "@/styles/apx.scss";

.service {

  width: $apx-1000;
  background-color: var(--color-bw-white);
  border-radius: $apx-32;
  padding: $apx-32;
  display: flex;
  flex-direction: column;
  gap: $apx-32;

  &__section {

    &__title {

      font-weight: 700;
      color: var(--color-accent-blue-700);
      font-size: $apx-20;
      line-height: $apx-26;


    }

    &__description {

      font-weight: 500;
      color: var(--color-accent-black-900);
      font-size: $apx-16;
      line-height: 130%;

    }

    &__filedsWrapper {

      display: flex;
      flex-wrap: wrap;
      gap: $apx-8;
      margin-top: $apx-12;

      &__filed {

        max-width: $apx-305 !important;
        height: $apx-64 !important;
        margin: 0 !important;

        &_experince_placeholder {

          line-height: $apx-20;

        }

      }

    }

    &__filedsGrid {

      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: $apx-8;
      margin-top: $apx-12;

      & > :first-child {

        grid-column: span 2;

      }

      &__filed {

        max-width: $apx-305 ;
        height: $apx-64 !important;
        margin: 0 !important;

      }

      &__textArea {

        height: $apx-110;
        margin: 0 !important;
      
      }

    }

    &__paymentFormat {

      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: $apx-8;
      margin-top: $apx-12;

      &__filed {

        max-width: $apx-305 ;
        height: $apx-64 !important;
        margin: 0 !important;

      }

      &__textArea {

        height: $apx-110;
        margin: 0 !important;

      }

    }

    &__services {

      margin-top: $apx-12;
      display: flex;
      flex-direction: column;
      gap: $apx-12;

      &__button {

        display: flex;
        gap: 8px;

        p {

          font-size: $apx-14;
          font-weight: 600;
          line-height: $apx-15;

        }

      }

    }

    &__infoPopup {

      width: $apx-768 !important;
      height: $apx-420 !important;
      background-color: white;
      padding: 0;
      margin: auto !important;
      border-radius: $apx-32;
      overflow: hidden;
      animation: fadeIn 0.5s forwards;

    }

  }

}

.wrapper{

  width: $apx-1000;
  display: flex;
  flex-direction: column;
  gap: $apx-32;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {

    display: none;

  }

}

@keyframes fadeIn {

  from {

    opacity: 0;
    transform: scale(0.95);

  }

  to {

    opacity: 1;
    transform: scale(1);

  }

}
