.datepicker {

  width: 100%;
  background: transparent;
  border: none;

}

.datepicker__header {

  background-color: green;
  border-bottom: none;

}

.datepicker__day {

  background: green;

}

.datepicker__day__selected {
  background-color: #4caf50;
  color: #fff;
  border-radius: 50%;
}

.datepicker__day__today {
  border: 1px solid #4caf50;
  border-radius: 50%;
}

.weekday {

  background-color: #4caf50;

}

.datepicker__day_name {
  background-color: green; /* Изменяем фон */
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
