@import "@/styles/apx.scss";

.datepicker {

  width: $apx-305;
  max-width: $apx-305;

  & > div {
    position: relative;
    height: 100% !important;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

  }


  //&__filedsWrapper {
  //
  //  display: flex;
  //  flex-wrap: wrap;
  //  gap: $apx-8;
  //  margin-top: $apx-12;
  //  position: relative;
  //
  //  &__filed {
  //
  //    max-width: $apx-305;
  //    height: $apx-64;
  //    margin: 0;
  //
  //    input {
  //
  //      height: $apx-64;
  //
  //    }
  //
  //  }
  //
  //}

}

.container {

  height: $apx-64;
  width: $apx-305;
  position: relative;
  background: var(--color-accent-background);
  border: $apx-1 solid var(--color-accent-blue-200);
  border-radius: $apx-28;

  &__icon {

    width: $apx-16;
    height: $apx-16;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $apx-16;
    z-index: 1;

  }

  &__header {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: center;
    padding-inline: $apx-16;
    font-weight: 400;
    font-size: $apx-16;
    line-height: $apx-21;
    color: var(--color-accent-black-500);

  }

}