@import "@/styles/apx.scss";

.wrapper {

  width: calc( ( 100% - $apx-6 ) / 2 );
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__input {

    width: calc(100% - $apx-8);
    height: $apx-22;
    background: transparent;
    font-size: $apx-16;
    font-weight: 500;
    line-height: 130%;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  &__btns_container {

    height: 100%;
    width: $apx-10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY( -48% );

    button {

      height: $apx-10;
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  }

}