@import "@/styles/apx.scss";

.signin_content {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $apx-16;

  &__field {

    height: $apx-63;

  }

  &__forgot {

    font-weight: 500;
    color: var(--color-accent-black-500);
    text-decoration: underline;
    cursor: pointer;

    &:hover {

      color: var(--color-accent-black-900);

    }

    &__disabled {

      cursor: not-allowed;

    }

  }

  &_description {

    font-weight: 600;
    color: var(--color-accent-black-500);

  }

}

.button {
  
  width: 100%;
  height: $apx-40;
  margin-bottom: $apx-20;

  &__icon {

    $size: $apx-24;
    width: $size;
    height: $size;
    margin-left: $apx-8;

  }

  &__gray {
  
    width: 100%;
  
  }

}

.recovery {

  &__popup {

    width: $apx-360;
    top: $apx-280 !important;
    height: $apx-352;

  }

}
