@import "@/styles/apx.scss";
@import "@/styles/animations.scss";

.button {

  transition: 0.35s;
  outline: none;
  border: unset;
  border-radius: $apx-40;
  padding: $apx-12 $apx-18;
  background: var(--color-gradient-blue-main);
  white-space: nowrap;
  animation: returnButtonBackground 0.25s forwards;
  p { opacity: 1; }

  &:hover,
  &:focus {
  
    animation: changeButtonBackground 0.15s forwards;
  
  }

  &:active {

    p { opacity: 0.8; }

  }

  &__name {
  
    font-weight: 600;
    color: var(--color-bw-white);
  
  }

  &__gray {
  
    animation: none !important;
    background: var(--color-accent-blue-100) !important;
    .button__name { color: var(--color-accent-blue-700) !important; }
    p { opacity: 1; }
    &:hover,
    &:focus {
    
      background: var(--color-accent-blue-200) !important;
    
    }
    &:active {

      p { opacity: 0.8; }

    }
  
  }

  &__small {
  
    height: $apx-31 !important;

    .button__name {

      font-size: $apx-14 !important;
      line-height: $apx-18 !important;
      p { opacity: 1; }
      &:active {

        p { opacity: 0.8; }
  
      }

    }
    
  }

}