@import "@/styles/apx.scss";
@import "@/styles/animations.scss";

.button {

  transition: 0.35s;
  outline: none;
  border: unset;
  border-radius: $apx-40;
  padding: $apx-12 $apx-18;
  background: var(--color-gradient-blue-main);
  white-space: nowrap;
  animation: returnButtonBackground 1.1s forwards;

  &:hover {
  
    animation: changeButtonBackground 1.2s forwards;
  
  }

  &__name {
  
    font-weight: 600;
    color: var(--color-bw-white);
  
  }

}