@import "@/styles/apx.scss";

.content {

  overflow-y: scroll;
  height: calc(100dvh - $apx-25);
  width: 100%;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    width: $apx-7;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #E1EBF9;
    border-radius: $apx-4;

    &:hover {

      background: #A7CAFF;
      cursor: grab;

    }
  }

}