@import "@/styles/apx.scss";

.selecttrigger {

  width: 100%;
  position: relative;



  select {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;

    width: 100%;
    outline: unset;
    text-overflow: ellipsis;
    padding: $apx-16;
    font-weight: 500;
    font-size: $apx-16;
    line-height: $apx-21;
    color: var(--color-accent-black-500);
    background: var(--color-accent-background);
    border: $apx-1 solid var(--color-accent-blue-200);
    border-radius: $apx-28;

    &:hover {

      cursor: pointer;

    }

  }

  &__icon {

    position: absolute;
    right: $apx-15;
    bottom: $apx-32;
    pointer-events: none;

  }

}