@import "@/styles/apx.scss";

.attachment {

  display: flex;
  flex-direction: column;
  gap: $apx-32;

  &__block {

    border: 2px dashed #D1E3F7;
    height: $apx-280;
    border-radius: $apx-28;
    position: relative;
    overflow: hidden;

    &__label {

      height: 100%;
      width: 100%;
      display: block;

      &__wrapper {

        display: flex;
        flex-direction: column;
        gap: $apx-12;
        height: 100%;
        align-items: center;
        justify-content: center;  
        padding: $apx-24;
        position: relative;

        &__input {

          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }

        &__info {

          display: flex;
          flex-direction: column;
          gap: $apx-4;
          font-size: $apx-13;
          font-weight: 600;
          line-height: $apx-17;
          color: var(--color-accent-black-500);
          text-align: center;

          &__format {

            opacity: 0.5;

          }


        }

        .attachment__button{

          gap: $apx-8;
          z-index: 0;

        }

      }

    }

    &__imagePreview {

      height: 100%;

      .image {

        border-radius: $apx-28;
        object-fit: cover;
        height: 100%;
        width: 100%;

      }

      .icon {

        position: absolute;
        bottom: 0;
        right: 0;
        margin: 16px;
          
      }
      
    }

  }

  &__text {
        
    color: var(--color-accent-black-500);
    font-size: $apx-13;
    font-weight: 600;
    line-height: $apx-17;
    text-align: center;

  }

}

.error {

  color: var(--color-notice-error-500);
  font-size: $apx-13;
  font-weight: 600;
  line-height: $apx-17;
  text-align: center;
  opacity: 1;

}