@import "@/styles/apx.scss";

.react-datepicker {

  background-color: transparent !important;
  border: none !important;
  width: 100% !important;

}

.react-datepicker__month-container {

  width: 100%;

}

.react-datepicker__header {

  background-color: transparent !important;
  border-bottom: none !important;
  padding-block: 0 $apx-8 !important;

}

.react-datepicker__month {

  margin: 0 !important;

}

.react-datepicker__day-name {

  height: $apx-31 !important;
  width: calc( ( 100% - ( 14 * $apx-2 ) ) / 7 ) !important;
  margin: $apx-2 !important;

}

.react-datepicker__day {

  height: $apx-31 !important;
  width: calc( ( 100% - ( 14 * $apx-2 ) ) / 7 ) !important;
  border-radius: $apx-40 !important;
  margin: $apx-2 !important;
  background-color: var(--color-accent-blue-100);
  color: var(--color-accent-blue-700) !important;
  font-size: $apx-14;
  line-height: 110%;
  font-weight: 600;

  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  &:hover {

    border-radius: $apx-40 !important;
    background-color: var(--color-accent-blue-700) !important;
    color: var(--color-bw-white) !important;

  }

}

.react-datepicker__day--today {

  background-color: var(--color-accent-blue-100) !important;

}

.react-datepicker__day--selected {

  background-color: var(--color-accent-blue-700) !important;
  color: var(--color-bw-white) !important;

}

.react-datepicker__day--outside-month {

  opacity: 30%;
  background-color: var(--color-accent-blue-100) !important;
  color: var(--color-accent-blue-700);

}
