:root {

  --color-bw-black: #000;
  --color-bw-white: #fff;
  --color-notice-error-100: #FFECE4;
  --color-notice-error-500: #FA4D42;
  --color-notice-success-100: #E2FFE5;
  --color-notice-success-500: #26D43B;
  --color-notice-info-100: #FEFBE8;
  --color-notice-info-500: #DCBF26;
  --color-accent-background: #F4F6F9;
  --color-accent-gray: #C8C7CB;
  --color-gray: #5A5A5A;
  --color-gray-2: #333333;
  --color-gray-4: #BDBDBD;
  --color-gray-6: #F2F2F2;
  --color-gray-text: #333333;
  --color-fields-form: #F2F2F2;
  --color-fields-title: #BDBDBD;
  --color-primary-bg-active: #4F4F4F;
  --color-primary-text-active: #F2F2F2;
  --color-accent-black-500: #7C92A7;
  --color-accent-black-900: #2B3358;
  --color-accent-blue-100: #F3F7FF;
  --color-accent-blue-200: #EAF3FF;
  --color-accent-blue-230: #E1EBF9;
  --color-accent-blue-270: #D1E3F7;
  --color-accent-blue-700: #18009E;
  --color-gradient-green: radial-gradient( #216DFE 8%, #00F280 80% );
  --color-gradient-blue: radial-gradient( #0F0065 44%, #0012B6 100% );
  --color-gradient-blue: radial-gradient( #18009E 44%, #2000D6 100% );
  --color-gradient-blue-main: linear-gradient( to right, #18009E 0%, #1A97E2 80%, #11E3E3 100% );

}