@import "@/styles/apx.scss";

.header {

  width: $apx-1328;
  height: $apx-328;
  border-radius: $apx-32;
  background-color: var(--color-bw-white);
  transition: height 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
  padding: 0 $apx-32;
  box-shadow: 0 0 $apx-25 $apx-5 rgba(21, 0, 157, 0.05);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  &__nav {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $apx-35;

    opacity: 1;
    max-height: max-content;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    visibility: visible;

    &__back {

      display: flex;
      align-items: baseline;
      gap: $apx-13;
      width: 10%;
      height: 100%;

      &__title {

        cursor: pointer;
        font-weight: 600;
        color: var(--color-accent-black-500);

      }

    }

    &__breadcrumbs {

      font-weight: 600;
      color: var(--color-accent-black-500);

    }

    &__notise {

      width: 10%;
      display: flex;
      justify-content: end;

      &:hover {

        cursor: pointer;

      }

    }

  }

  &__title {

    font-weight: 700;
    color: var(--color-accent-blue-700);
    margin-bottom: $apx-8;
    transition: margin-bottom 0.5s ease

  }

  &__subtitle {

    font-weight: 500;
    color: var(--color-accent-blue-700);
    margin-bottom: $apx-34;
    max-height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    visibility: visible;

  }

  &__statistics {

    display: flex;
    justify-content: center;
    gap: $apx-32;
    margin-bottom: $apx-48;
    max-height: max-content;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, max-height 0.5s ease;

    &__block {

      display: flex;
      align-items: center;
      justify-content: center;
      gap: $apx-11;

      font-weight: 600;
      color: var(--color-accent-black-500);

    }

  }

  &__tabs {

    width: $apx-532;
    height: $apx-40;
    border-radius: $apx-64;
    padding: $apx-4;
    background-color: var(--color-bw-white);
    box-shadow: 0 0 $apx-25 $apx-5 rgba(21, 0, 157, 0.05);
    position: absolute;
    bottom: -$apx-20;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    gap: $apx-8;
    border: $apx-1 solid var(--color-accent-blue-200);
    transition: width 0.5s ease, bottom 0.5s ease, left 0.5s ease, transform 0.5s ease;

    &__button {

      background: none;
      display: flex;
      gap: $apx-7;
      padding: $apx-4 $apx-11 $apx-4 $apx-17;
      transition: background 0.5s ease, color 0.5s ease, padding 0.5s ease, gap 0.5s ease;

      & > p {

        color: var(--color-accent-blue-700);

      }


      &:hover {

        background: none !important;

        & > p {

          color: inherit;

        }

      }

      &__active {

        background: var(--color-accent-blue-700);

        &:hover {

          background: var(--color-accent-blue-700) !important;

          & > p {

            color: var(--color-bw-white);

          }

        }

        & > p {

          color: var(--color-bw-white);

        }

      }

      &__content {

        width: 0;
        background-color: var(--color-accent-blue-270);
        border-radius: $apx-50;
        text-align: center;
        font-weight: 600;

        opacity: 0;
        max-height: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease, width 0.5s ease;

      }

    }

  }

}

.collapsed {

  height: $apx-170;

  .header {

    &__nav {

      opacity: 0;
      max-height: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0s 0.5s;

    }

    &__title {

      margin-bottom: -$apx-45;

    }

    &__subtitle {

      opacity: 0;
      max-height: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0s 0.5s;

    }

    &__statistics {

      opacity: 0;
      max-height: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0s 0.5s;

    }

    &__tabs {

      max-width: max-content;

      &__button {

        padding-right: $apx-6;

        &__content {

          width: $apx-30;
          background-color: var(--color-accent-blue-270);
          border-radius: $apx-50;
          text-align: center;

          opacity: 1;
          max-height: max-content;
          transition: opacity 0.5s ease, max-height 0.5s ease, width 0.5s ease;
          visibility: visible;

        }

      }

    }

  }

}