@import "@/styles/apx.scss";

.auth-panel {

  min-width: $apx-155;
  padding-right: $apx-16;

  &__avatar {
  
    $size: $apx-65;
    width: $size;
    height: $size;
    margin-left: $apx-8;
    border-radius: 100%;

    &__img {
    
      $size: $apx-35;
      width: $size;
      height: $size;
      border-radius: 100%;
    
    }
  
  }

  &__text {
  
    &__status {
    
      font-weight: 600;
      white-space: nowrap;
      margin-top: $apx-2;
      color: var(--color-accent-black-500);
    
    }
   
    &__userdata {
      
      margin: 0 $apx-2;
      font-weight: 600;
      color: var(--color-accent-blue-700);
    
    }

  }

  &__menu {
  
    top: $apx-61;
    right: $apx-25;
    width: $apx-280;
    height: $apx-100;
    padding: $apx-8;
    border-radius: $apx-20;
    background: var(--color-bw-white);
    box-shadow: 0 0 $apx-25 $apx-5 rgba( 10, 10, 10, 0.1 );
    display: none;

    &--opened {
    
      display: block;
    
    }

    &__point {

      &__container { width: 100%; }

      top: -$apx-13;
      left: 0;
      right: 0;
      margin: auto;
      $size: $apx-11;
      width: $size;
      height: $size;
      border-radius: 100%;
      background-color: var(--color-accent-blue-270);

      &--left { left: $apx-9; right: unset; }

      &--right { right: $apx-9; left: unset; }
    
    }

    &__liner {
    
      width: 100%;
      margin: 0 auto;
      margin: $apx-4 0;
      border: $apx-1 solid var(--color-accent-background);
    
    }

    &__row {
    
      height: $apx-38;
      padding-left: $apx-16;
      padding-right: $apx-16;
      transition: 0.135s;

      &:hover,
      &:focus {

        transition: 0.135s;
        border-radius: $apx-32;
        background: var(--color-accent-blue-200);

      }

      &__open_quiz {
      
        font-weight: 600;
        transition: 0.35s;
        color: var(--color-accent-blue-700);

        &__icon {
        
          $size: $apx-16;
          width: $size;
          height: $size;
        
        }
      
      }

      &__logout {
      
        font-weight: 600;
        color: var(--color-notice-error-500);

        &__icon {
        
          $size: $apx-24;
          width: $size;
          height: $size;
        
        }
      
      }
    
    }

  }

}