@import "@/styles/apx.scss";


.pagination {

  bottom: 0;
  width: $apx-1000;
  background-color: var(--color-bw-white);
  border-radius: $apx-32;
  padding: $apx-32;
  margin: $apx-32 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button_next {

    width: $apx-220 !important;
    height: $apx-56 !important;
    gap: $apx-11;

  }

  &__button_back {

    width: $apx-48 !important;
    height: $apx-48 !important;
    background-color: var(--color-accent-background) !important;

  }

}