@import "@/styles/apx.scss";

.delete__popup {

  height: fit-content;
  margin: auto !important;
  padding: $apx-20 $apx-24 !important;
  width: $apx-360;

  &__content {

    p {

      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;

    }

    &__text {

      color: var(--color-accent-black-900)

    }

    &__info {

      color: var(--color-accent-blue-700);

    }

    &__buttons {
      
      display: flex;
      justify-content: space-between;
      margin-top: $apx-36;

      &__delete {

        color: var(--color-bw-white) !important;

      }

    }

  }

}