@import "@/styles/apx.scss";

.sign-panel {

  min-width: $apx-350;
  height: $apx-48;

  &__in {

    margin-right: $apx-24;

    &_auth {
      
      min-width: unset !important;
      justify-content: flex-end !important;
      &__avatar { margin-right: -$apx-25; }
    
    }

    &_unauth {
      
      min-width: $apx-250;
      justify-content: end !important;
    
    }
    
    &__text {

      font-weight: 600;
      margin-top: $apx-4;
      margin-right: $apx-8;
      color: var(--color-accent-blue-700);
    
    }

    &__icon {
  
      width: $apx-30;
      height: $apx-30;
    
    }

  }

}

.button {

  max-height: $apx-40;

  &__quiz {
    
    padding-top: $apx-10;
    margin-right: $apx-20;
    display: none;

    &--opened { display: block; }
  
  }

}