@import "@/styles/apx.scss";
@import "@/styles/animations.scss";

.header {

  z-index: 100;
  width: 100%;
  height: $apx-64;
  padding: $apx-16;
  border-bottom-left-radius: $apx-36;
  border-bottom-right-radius: $apx-36;
  background: var(--color-bw-white);
  box-shadow: 0 0 $apx-25 $apx-5 rgba( 10, 10, 10, 0.05 );
  position: fixed !important;

  &__circle {

    left: 0;
    right: 0;
    margin: 0 auto;
    width: $apx-96;
    height: $apx-83;
    width: $apx-1248;
    height: $apx-600;
    overflow: hidden;
    border-radius: 0 0 $apx-600 $apx-600;
    background: var(--color-gradient-blue-light);

  }

  &__logo,
  &__logoword,
  &__logocircle {

    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 110;
 
  }

  &__logo {
  
    top: -$apx-24;
    width: $apx-140;
    height: $apx-120;
  
  }

  &__logoword {

    top: $apx-24;
    min-width: $apx-64;
    min-height: $apx-18;

  }

  &__navbar {
  
    &__link {

      font-size: $apx-14;
      line-height: 110%;
      font-weight: 600;
      color: var(--color-accent-blue-700) !important;
      &:hover, &:checked, &:visited { color: var(--color-accent-blue-700) !important; }
      transition: 0.35s;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      padding: 0 $apx-16;

      &:hover,
      &:focus {

        transition: 0.135s;
        min-height: $apx-45;
        border-radius: $apx-32;
        background: var(--color-accent-blue-200);

      }

    }
  
  }

}

.white_blur {

  z-index: 105;
  opacity: 0.84;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--color-bw-white);

}

.logocircle {

  z-index: 110;
  top: -50%;
  left: 0;
  right: 0;
  margin: auto;
  width: $apx-124;
  height: $apx-124;
  border-radius: 100%;
  animation: radialScale 2s forwards;
  background: var(--color-gradient-blue-light);
  box-shadow: 0 0 $apx-20 $apx-10 #1f00cc24;

  &--closed {

    top: $apx-20;
    width: $apx-24;
    height: $apx-24;
    animation: radialScaleReverse 2s forwards;

  }

}

.circles_container {

  z-index: 115;
  top: -50%;
  transform: translateY(100%);
  top: $apx-280;
  left: 0;
  right: 0;
  margin: auto;
  width: $apx-124;
  height: $apx-69;
  transform: scale(10);
  overflow: hidden !important;
  border-bottom-left-radius: $apx-1900;
  border-bottom-right-radius: $apx-1900;

  &--appear { animation: fadeInSlow 2s; }
  &--disappear { animation: fadeOutSlow 2s; }

}

.green_circle,
.blue_circle {

  transform: scale(1) !important;
  filter: blur($apx-55);
  opacity: 0.75;
  top: $apx-350;
  left: $apx-300;
  border-radius: 100%;
  transform: rotate(0deg);
  animation: rotate 9s 30 linear;
  transform-origin: $apx-200 $apx-200;
  position: absolute !important;

}

.green_circle {

  box-shadow: 0 0 $apx-236 $apx-228 var(--color-accent-green);border: 1px solid red; 

}

.blue_circle {

  top: $apx-400;
  left: $apx-450;
  box-shadow: 0 0 $apx-236 $apx-228 #008cc5;

}

.auth {

  &__popup {

    width: $apx-360;

  }

  &-back {

    display: none !important;
    
    &--opened {
      
      display: block !important;
    
    }

  }

}